* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }
  :root {
    --maintransittion: all 0.3s ease-in-out;
  }
  body {
    font-family: "Catamaran", sans-serif;
    line-height: 1.5;
  }
  /* Clear fixed  */
  .clearfix::after,
  .clearfix::before {
    content: "" "";
    clear: both;
    display: table;
  }
  
  .container {
    min-width: 100%;
    margin: auto;
    justify-content: center;
  }
  .row {
    min-height: 120vh;
    background: linear-gradient(rgba(0, 0, 0, 0.333), rgba(0, 0, 0, 0.642)),
      url('../Image/BG.jpg') center/cover no-repeat fixed;
    position: relative;
  }
  .col {
    position: absolute;
    top: 38%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 5px;
  }
  .header-subtitle {
    font-family: "Galada", cursive;
    font-size: 25px;
    color: rgb(142, 206, 161);
   
  }
  .header-title {
    margin-top: 20px;
    font-family: "Atma", cursive;
    font-size: 40px;
    color: rgb(255, 255, 255);
 
    text-shadow: 5px 5px 5px black;
  }
  
  @media screen and (min-width: 805px) {
    .header-title {
      font-size: 4rem;
    }
  }
  
  .banner-btn {
    display: inline-block;
    color: #c6d9ec;
    border: solid rgb(10, 75, 24);
    padding: 5px;
    /* outline: solid green;
      outline-offset: 4px ; */
    cursor: pointer;
    background-color: #081d05b7;
    border-radius: 10px;
   
  }
  
  .banner-btn:hover {
    color: rgb(161, 36, 36);
    opacity: 0.8;
  }
  
  @keyframes btnanime {
    0% {
      transform: scale(2);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes subtitle-anime {
    0% {
      transform: translateX(500px);
    }
    50% {
      transform: translateX(-200px);
    }
    75% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes title-anime {
    0% {
      transform: translateX(-1000px);
    }
    50% {
      transform: translateX(200px);
    }
    75% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  /* this id for show off  */
  .row-2 {
    padding: 2rem 0;
    /* width: 80vw; */
    max-width: 90%;
    margin: auto;
  }
  .row-2 div {
    padding: 20px 0;
    transition: var(--maintransittion);
  }
  
  .row-2 div:hover {
    transform: translateY(-6px);
  }
  .row-2 img {
    width: 100%;
    border: solid #698f3f 5px;
    border-radius: 10px;
  }
  
  @media screen and (min-width: 805px) {
    .row-2 div {
      float: left;
      width: 33.3%;
    }
    .row-2 div {
      padding: 20px 20px;
    }
  }
  /* product section   */
  .product-section {
    padding: 2rem 0;
    /* width: 80vw; */
    max-width: 90%;
    margin: auto;
  }
  .name {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 20px 0;
    color: #456424;
  }
  .row-4 .write img {
    width: 100%;
    border: solid #698f3f 5px;
    border-radius: 10px;
  }
  .write {
    /* border: solid; */
    text-align: center;
    margin: 20px 2px;
    transition: var(--maintransittion);
  }
  .write h2,
  p {
    color: black;
  }
  .write:hover {
    transform: translateY(-6px);
  }
  @media screen and (min-width: 805px) {
    .write {
      float: left;
      width: 49%;
      padding: 10px;
    }
  }
  @media screen and (min-width: 1220px) {
    .write {
      width: 24.5%;
    }
  }
  
  /* this is for seceond bannar  */
  .offer {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.333), rgba(0, 0, 0, 0.642)),
      url('https://cdn.pixabay.com/photo/2021/03/22/14/46/quran-6114872_960_720.jpg') center/cover no-repeat fixed;
    position: relative;
  }
  .offer-1 {
    position: absolute;
    top: 50%;
    left: 45%;
    margin: 0;
    transform: translate(-40%, -50%);
    text-align: center;
    letter-spacing: 5px;
  }
  .offer-title {
    font-family: "Galada", cursive;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: 20px 0;
    text-shadow: 2px 2px 3px black;
  }
  @media screen and (min-width: 805px) {
    .offer-1 {
      top: 50%;
      left: 50%;
      margin: 0;
      transform: translate(-50%, -50%);
    }
    .offer-title {
      font-size: 70px;
      letter-spacing: 20px;
    }
  }